<normalizerConfig xmlns="http://www.daisy.org/pipeline/ns#">

<!--
Per-namespace customization of the behavior of the mixed content normalizer
and the sync point locator.

Element ignore:
Treat its child elements as equal to text nodes. Typically, elements mentioned
here are elements whose content model is text-only, such as xhtml:strong and xhtml:em.
Empty elements are automatically ignored.

Attribute asWhitespace on element ignore:
A space separated list of chars that are added to the list of 
XML-defined whitespace characters within the namespace scope. 
This can be used to avoid creating a syncpoint on, for example, 
the text node ". ". Note - for now, we do not support supplemental characters.

Element wrapper:
Defines the qualified name to use when inserting elements during normalization. 

Attribute scrubWhitespace on wrapper element:
Can have values true or false. Absence of the attribute is the same as presence
with value false.
If true, means that leading and trailing whitespace in wrapper elements is moved
outside the wrapper. The definition of what is whitespace includes XML whitespace
and any additional chars added via the asWhitespace attribute on the ignore element.

Element syncMarkerAttribute:
Defines the qualified name of the attribute to add at sync point locations.
For example,
<smil:sync xmlns:smil="http://www.w3.org/2001/SMIL20/" />
will create the following attribute:
<any:name smil:sync="true">

Element syncScope:
Defines a one per document element scope outside of which the sync point locator will not be active.

-->

	<namespace uri="http://www.daisy.org/z3986/2005/dtbook/" xmlns:dtbook="http://www.daisy.org/z3986/2005/dtbook/">
		<ignore asWhitespace=".">
			<dtbook:abbr />
			<dtbook:acronym />
			<dtbook:em />
			<dtbook:strong />
			<dtbook:sub />
			<dtbook:sup />
			
			<!-- These two are added by se_tpb_xmldetectíon  -->
			<dtbook:w class="num-word"/>
			<dtbook:w class="num-with-space"/>
		</ignore>

		<wrapper scrubWhitespace="true">
			<dtbook:span dtbook:class="normalized"/>		
		</wrapper>		
		
		<syncScope>
			<dtbook:book />
		</syncScope>
		 
		<syncForce>			
			<dtbook:img/>
		</syncForce>
		 
		<syncMarkerAttribute>
		    <smil:sync xmlns:smil="http://www.w3.org/2001/SMIL20/" />
		</syncMarkerAttribute>
	</namespace>

	<namespace uri="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml">
		<ignore asWhitespace="."> 
			<xhtml:em />
			<xhtml:strong />
			<xhtml:b />
			<xhtml:i />
			<xhtml:br />
			<xhtml:hr />
		</ignore>

		<wrapper scrubWhitespace="true">
			<xhtml:span xhtml:class="normalized"/>		
		</wrapper>
		
		<syncScope>
			<xhtml:body/>
		</syncScope>
		
		<syncForce>
			<xhtml:h1/>
			<xhtml:h2/>
			<xhtml:h3/>
			<xhtml:h4/>
			<xhtml:h5/>
			<xhtml:h6/>
		</syncForce>
		
		<syncMarkerAttribute>
		    <smil:sync xmlns:smil="http://www.w3.org/2001/SMIL20/" />
		</syncMarkerAttribute>		
	</namespace>
	
	<namespace uri="http://www.w3.org/1998/Math/MathML" xmlns:m="http://www.w3.org/1998/Math/MathML">
		<!--  this config is for the DTBook MathML extension. Dont touch the MathML, just force sync on the root -->
		<syncForce>
			<m:math />
		</syncForce>
		
		<syncMarkerAttribute>
		    <smil:sync xmlns:smil="http://www.w3.org/2001/SMIL20/" />
		</syncMarkerAttribute>		
	</namespace>
				
</normalizerConfig>