<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="$(var.ProductName)"
		   Language="1033" 
		   Version="$(var.AddinVersion)"
		   Manufacturer="$(var.Manufacturer)"
		   UpgradeCode="$(var.UpgradeCode)"
		   InstallerVersion="200"
		   ProductCode="AC2FE149-7EE8-488A-ABFC-548811AB5382"
		   Scope="perUser">
    <!--<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowSameVersionUpgrades="yes" />-->

	  <!-- default cab, needed to copy pipeline in different cab -->
	<Media Id="1" Cabinet="addin.cab" EmbedCab="yes"/>
	  
    <Feature Id="Main">
		<ComponentGroupRef Id="AddinComponents" />
		<ComponentGroupRef Id="EmbeddedEngineFiles" />

		<ComponentRef Id="ApplicationDataComponent" />
		<ComponentRef Id="ApplicationShortcut" />
    </Feature>


	  <Upgrade Id="4EB56DA5-96B7-48AA-BEE1-4BDCDFF54105">
		  <UpgradeVersion Property="OLDAPPFOUND_WORD" OnlyDetect="no" IncludeMinimum="yes" Minimum="0.0.0" IncludeMaximum="no" Maximum="2.0.10" />
	  </Upgrade>

	  <Upgrade Id="$(var.UpgradeCode)">
		  <UpgradeVersion Property="OLDAPPFOUND" Minimum="0.0.0.0" Maximum="$(var.AddinVersion)" IncludeMinimum="yes" IncludeMaximum="yes" />
		  <UpgradeVersion Property="NEWAPPFOUND" Minimum="$(var.AddinVersion)" IncludeMinimum="no" OnlyDetect="yes" />
	  </Upgrade>


	  

	  <!--wix variables-->
	  <WixVariable Id="VersionNumber" Value="$(var.AddinVersion)" />
	  <WixVariable Id="VersionInfo" Value="Version !(wix.VersionNumber)" />
	  <!--Properties section-->
	  <Icon Id="icon.ico" SourceFile="$(var.SolutionDir)resources/speaker.ico" />
	  <Property Id="ARPPRODUCTICON" Value="icon.ico" />
	  <!--<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />-->
	  <CustomAction Id="SetARPREADME" Property="ARPREADME" Value="[#Readme]" />
	  <Property Id="ARPCOMMENTS" Value="$(var.AddinVersion)" />
	  <Property Id="ARPCONTACT" Value="DAISY Consortium" />
	  <Property Id="ARPURLINFOABOUT" Value="https://daisy.org/" />
	  <Property Id="ARPHELPLINK" Value="https://daisy.github.io/word-save-as-daisy" />
	  <Property Id="WixShellExecTarget" Value="[#SaveAsDAISY_Instruction_Manual_July_2023.docx]" />
	  <Property Id="SHOW_README" Value="1" />
	  <!-- Property set by DetectLatestMsWordVersion in the DaisyAddin.CustomAction project 
            Default assumes office 2007 (12.0) 32bits -->
	  <Property Id="LATESTWORDVERSION" Value="&quot;12.0&quot;" />
	  <Property Id="LATESTWORDISX64" Value="&quot;no&quot;" />

	  <Property Id="ApplicationFolderName" Value="Save-as-DAISY Word Addin" />

	  <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)resources\bannrbmp.bmp" />
	  <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)resources\dlgbmp.bmp" />
	  <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)resources\License.rtf" />
	  <!--Custom Action-->
	  <CustomAction Id="NewerVersionDetected" Error="There is a newer version of this product installed." />
	  <!--Built in UI-->
	  <!--<CustomAction Id="ShowReadme" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixShellExec" Impersonate="yes" />-->
	  <!--Get latest word version-->
	  <!-- Custom actions dll, from the DaisyAddin.CustomActions project -->
	  <Binary Id="DetectWordAction" SourceFile="$(var.DetectWordAction.TargetDir)\DetectWordAction.CA.dll" />
	  <CustomAction BinaryRef="DetectWordAction"
					DllEntry="DetectLatestMsWordVersion"
					Execute="immediate"
					Id="DetectLatestMsWordVersion" />
	  <InstallExecuteSequence>
		  <!-- Prevent downgrading -->
		  <Custom Action="NewerVersionDetected" After="FindRelatedProducts" Condition="NEWAPPFOUND"/>
		  <Custom Action="SetARPREADME" After="InstallValidate"></Custom>
		  <Custom Action="DetectLatestMsWordVersion" Before="LaunchConditions" Condition="NOT Installed"/>
		  <RemoveExistingProducts Before="InstallInitialize" />
	  </InstallExecuteSequence>
	  
	  <UI Id="MyUI">
		  <Property Id="WixAppFolder" Value="WixPerUserFolder" />

		  <!-- Using default advanced installation process to allow for non-administration installation 
			under localAppData/Apps folder-->
		  <ui:WixUI Id="WixUI_Advanced" />

		  <Property Id="ARPNOMODIFY" Value="1" />
	  </UI>
  </Package>
</Wix>
